@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import viewmodels.InputWidth._

@this(
 layout: views.html.Layout,
 formHelper: FormWithCSRF,
 govukErrorSummary: GovukErrorSummary,
 govukInput: GovukInput,
 govukButton: GovukButton,
 govukBackLink: GovukBackLink,
 govukHint: GovukHint,
 govukInsetText: GovukInsetText,
)

@(form: Form[_], image: String, description: String)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("Upload file")), isWelshTranslationAvailable = true) {

@govukBackLink(BackLink(href = routes.UploadController.index().url))

@formHelper(action = routes.UploadController.submit(), 'autoComplete -> "off") {

<img src="@image" alt="Uploaded image" />

<h1 class="govuk-heading-l">Comment</h1>
<p class="govuk-body">@description</p>

@govukButton(
 ButtonViewModel(messages("Return to account"))
)}


}
