@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.Aliases.Button

@this(
 govukButton: GovukButton,
 govukInput: GovukInput,
 govukBackLink: GovukBackLink,
 govukInsetText: GovukInsetText,
 govukNotificationBanner: GovukNotificationBanner
)

@govukNotificationBanner(NotificationBanner(
  content = HtmlContent("Successfully registered, feel free to browse the site"),
  classes = "govuk-notification-banner--success"
))

<h1 class="govuk-heading-l">Welcome</h1>

@govukInsetText(InsetText(content = HtmlContent("Fill me in with some content")))

<h1 class="govuk-heading-l">Have any questions?</h1>
<p class="govuk-body-m">Feel free to use the button below to ask us a question</p>

@govukButton(Button(isStartButton = true, content = HtmlContent("Continue"), href = Some(routes.QuestionController.index().url)))
