@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.Aliases.Button

@this(govukButton: GovukButton, govukInput: GovukInput, govukBackLink: GovukBackLink)
@govukBackLink(BackLink(href = routes.HomeController.index().url))

        <h1 class="govuk-heading-xl">Log In</h1>
        <div class="govuk-inset-text">
          Use the same details you used to register for the service.
        </div>

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
        Username
      </label>
      </h1>
      <input class="govuk-input" id="event-name" name="event-name" type="text">
    </div>

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
        Password
      </label>
      </h1>
      <input class="govuk-input" id="event-name" name="event-name" type="text">
    </div>
    @govukButton(Button(href = Some("#"), content = HtmlContent("Sign In")))



