@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.Aliases.Button

@this(
    govukButton: GovukButton,
    govukInput: GovukInput,
    govukBackLink: GovukBackLink,
    govukInsetText: GovukInsetText
)

@govukBackLink(BackLink(href = routes.HomeController.index().url))

<h1 class="govuk-heading-l">Sign In</h1>

@govukInsetText(InsetText(content = HtmlContent("Use the same details you used to register for the service.")))

@govukInput(Input(
    id = "username",
    name = "username",
    label = Label(content = Text("Username")),
    classes = "govuk-!-width-one-half"
))

@govukInput(Input(
    id = "password",
    name = "password",
    label = Label(content = Text("Password")),
    classes = "govuk-!-width-one-half",
    inputType = "password",
    hint = Some(Hint(content = Text("If you have forgotten your password, please contact the service team")))
))


@govukButton(Button(href = Some("#"), content = HtmlContent("Sign In")))



