@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import viewmodels.InputWidth._

@this(
    layout: views.html.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("example.title")), isWelshTranslationAvailable = true) {

    @formHelper(action = routes.RegisterController.submit(), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        <h1 class="govuk-heading-xl">Register for service</h1>

        @govukInput(
            InputViewModel(
            field = form("email"),
            label = LabelViewModel("Email"),
            )
                .withWidth(Full)
        )

        @govukInput(
            InputViewModel(
                field = form("username"),
                label = LabelViewModel("Username")
            )
                    .withWidth(Full)
        )

        @govukInput(
            InputViewModel(
                field = form("password"),
                label = LabelViewModel("Password")
            )
                    .withWidth(Full)
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
