@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.Aliases.Button

@this(govukButton: GovukButton, govukInsetText: GovukInsetText)

<h1 class="govuk-heading-xl">Heatwave</h1>

@govukInsetText(
    InsetText(content = HtmlContent("Log in if you already have account with us, otherwise create an account"))
)

@govukButton(
    Button(isStartButton = true, content = HtmlContent("Sign In"), href = Some(routes.LoginController.index().url))
)

@govukButton(
    Button(isStartButton = true, content = HtmlContent("Create an account"), href = Some(routes.RegisterController.index().url))
)


