@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.Aliases.Button
@import viewmodels.InputWidth._

@this(
  layout: views.html.Layout,
  formHelper: FormWithCSRF,
  govukErrorSummary: GovukErrorSummary,
  govukSelect: GovukSelect,
  govukButton: GovukButton,
  govukFieldset: GovukFieldset,
  govukInput: GovukInput,
  govukTextarea: GovukTextarea,
  govukBackLink: GovukBackLink
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("example.title")), isWelshTranslationAvailable = true) {



  @formHelper(action = routes.InvoiceController.index(), 'autoComplete -> "off") {

    @if(form.errors.nonEmpty) {
      @govukErrorSummary(ErrorSummaryViewModel(form))
    }

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@messages("Create an Invoice")</h1>
        <div class="govuk-inset-text">
          @messages("A handy invoice creation tool")
        </div>
      </div>
    </div>

@*    <h1 class="govuk-heading-l">@messages("Customer Details")</h1>*@

    @govukTextarea(
      Textarea(
        name = "customerDetails",
        id = "customerDetails",
        label = LabelViewModel("Enter your customer name / address here")
      )
    )

@*    <h1 class="govuk-heading-l">@messages("Your Business Details")</h1>*@

    @govukTextarea(
      Textarea(
        name = "userDetails",
        id = "userDetails",
        label = LabelViewModel("Enter your business name / address here")
      )
    )




    @govukInput(
      InputViewModel(
        field = form("invoice-item"),
        label = LabelViewModel(messages("Service or item you're invoicing for"))
      )
    )



    @govukInput(
      InputViewModel(
        field = form("invoice-item-price"),
        label = LabelViewModel(messages("What is the cost in pounds?"))
      )
    )


    @govukInput(
      InputViewModel(
        field = form("vat-number"),
        label = LabelViewModel(messages("Enter your VAT number (leave blank if not VAT registered)"))
      )
    )


    @govukButton(
      ButtonViewModel(messages("Create your invoice"))
    )

<br>
    @govukBackLink(BackLink(href = routes.InvoiceController.index().url))

  }
}

@*<div class="govuk-width-container">*@
@*  <a href="/" class="govuk-back-link">Back</a>*@

@*  <main class="govuk-main-wrapper">*@



@*    <div class="govuk-form-group">*@
@*      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">*@
@*        Enter your customer name / address here*@
@*      </label>*@
@*      </h1>*@
@*      <textarea class="govuk-textarea" id="event-name" name="event-name" rows="5">Customer name&#13;&#10;Customer address</textarea>*@
@*    </div>*@

@*    <div class="govuk-form-group">*@
@*      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">*@
@*        Enter your business name / address here*@
@*      </label>*@
@*      </h1>*@
@*      <textarea class="govuk-textarea" id="event-name" name="event-name" rows="5">Your business name&#13;&#10;Your business address</textarea>*@
@*    </div>*@

@*    <div class="govuk-form-group">*@
@*      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">*@
@*        Service or item you're invoicing for*@
@*      </label>*@
@*      </h1>*@
@*      <input class="govuk-input" id="event-name" name="event-name" type="text">*@
@*    </div>*@

@*    <div class="govuk-form-group">*@
@*      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="cost">*@
@*      What is the cost in pounds?*@
@*      </label>*@
@*      </h1>*@
@*      <div class="govuk-input__wrapper">*@
@*        <div class="govuk-input__prefix" aria-hidden="true">£</div>*@
@*        <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">*@
@*      </div>*@
@*    </div>*@

@*    <div class="govuk-form-group">*@
@*      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="width-10">*@
@*    Enter your VAT number (Leave blank if not VAT registered)*@
@*      </label>*@
@*      </h1>*@
@*      <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">*@
@*    </div>*@

@*    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">*@
@*      Create your Invoice*@
@*      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">*@
@*        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />*@
@*      </svg></a>*@

@*  </main>*@
@*</div>*@


