@import uk.gov.hmrc.hmrcfrontend.views.html.helpers.HmrcLayout
@import uk.gov.hmrc.hmrcfrontend.views.config.StandardBetaBanner
@import views.html.helper.CSPNonce
@import config.AppConfig
@import uk.gov.hmrc.anyfrontend.controllers.routes

@this(hmrcLayout: HmrcLayout, standardBetaBanner: StandardBetaBanner)

@(pageTitle: String, appConfig: AppConfig)(contentBlock: Html)(implicit request: RequestHeader, messages: Messages)

@hmrcLayout(
pageTitle = Some(pageTitle),
isWelshTranslationAvailable = true, /* or false if your service has not been translated */
serviceUrl = Some(routes.IndexController.index().url),
signOutUrl = Some(routes.SignOutController.signOut().url),
phaseBanner = Some(standardBetaBanner(url = appConfig.betaFeedbackUrl)),
nonce = CSPNonce.get,
)(contentBlock)