@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.Aliases.Button
@import viewmodels._
@import play.api.data.Forms.text.withPrefix

@this(
        layout: views.html.Layout,
        formHelper: FormWithCSRF,
        govukErrorSummary: GovukErrorSummary,
        govukSelect: GovukSelect,
        govukButton: GovukButton,
        govukFieldset: GovukFieldset,
        govukInput: GovukInput,
        govukTextarea: GovukTextarea,
        govukBackLink: GovukBackLink,
        govukInsetText: GovukInsetText
)


@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("Session")), isWelshTranslationAvailable = true) {

    @govukBackLink(BackLink(href = routes.LoggedInController.index().url))

    <section class="hmrc-page-heading hmrc-internal-header govuk-!-margin-bottom-6">
        <h1 class="govuk-heading-l">Phu Tran</h1>
        <p class="hmrc-caption govuk-caption-xl">Account Home</p>
    </section>

@*    <section>*@
@*        <h2 class="hmrc-internal-header__service-name">Information</h2>*@
@*    </section>*@

    <section>
        <a class="govuk-link govuk-heading-s" href="#">Create an Invoice</a>
        <p class="govuk-heading-s govuk-!-font-weight-regular">
            Simply fill in the required information and create an invoice on the spot. You can save, print or email it directly to your clients.
        </p>
    </section>
    <section>
        <a class="govuk-link govuk-heading-s" href="#">Got a Question?</a>
        <p class="govuk-heading-s govuk-!-font-weight-regular">
            Find out when you can expect to receive a reply from HMRC to a query or request you’ve made.
        </p>
    </section>
    <section>
        <a class="govuk-link govuk-heading-s" href="#">Live Chat</a>
        <p class="govuk-heading-s govuk-!-font-weight-regular">
            Our Live Chat service is here to answer your admissions queries. We are available Monday to Friday 10am to 4pm. Ask us live!        </p>
    </section>

}



