@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.html.components.implicits._
@import uk.gov.hmrc.hmrcfrontend.views.html.components.implicits._
@import uk.gov.hmrc.govukfrontend.views._
@import uk.gov.hmrc.govukfrontend.views.Aliases.Button
@import play.api.data._
@import play.api.data.Forms._

@this(govukSelect: GovukSelect, govukButton: GovukButton, govukFieldset: GovukFieldset, govukInput: GovukInput)

@govukSelect(
    Select(
        id = "sort",
        name = "sort",
        items = Seq(
            SelectItem(
                text = "Placeholder text"
            ),
            SelectItem(
                value = Some("published"),
                text = "Recently published"
            ),
            SelectItem(
                value = Some("updated"),
                text = "Recently updated"
            )
        ),
        label = Label(
            content = Text("Sort by")
        )
    )
)

@govukButton(
    Button(value = Some("Button Value"), name = Some("Button Name"), href = Some("https://someurl.com"), content = HtmlContent("TEXT"))
)

@govukFieldset(
    Fieldset()
)

@govukInput(Input(id = "fieldId", name = "fieldName", value = Some("Text")))
